* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    overflow: hidden;
    margin: 1px;
    padding: 5px;
    background: white;
    font-size: 12px;
    width: 110px;
    height: 200px;
}

img {
    margin: 0 4px;
}


#addItemDiv {
    color: #ccc;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.taskItem {
    cursor: pointer;
}

input {
    width: 40px;
}

#start {
    position: absolute;
    left: 15px;
}

#suspend {
    position: absolute;
    left: 65px;
}

#generate {
    position: absolute;
    left: 5px;
    width: 110px;
    height: 30px;
    font-size: 15px;
}

#gazeData {
    position: absolute;
    left: 12px;
    font-size: 20px;
}

